/*声明 WebFont*/
@import './mixin.scss';

html *,
html *::after,
html *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: MicrosoftYaHei, Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
}

@mixin noFloat {

  zoom: 1;

  &::after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: '';
  }
}

.noFloat {
  @include noFloat;
}

#app {
  @include noFloat;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.textCenter {
  text-align: center
}