/*声明 WebFont*/
@import './mixin.scss';

html *,
html *::after,
html *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: MicrosoftYaHei, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#app {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}