@import './mixin.scss';

.layout-left {
  float: left;
  transition: width 200ms;
  height: 100%;
  border-right: 1px solid #efefef;
}

.layout-right {
  float: left;
  height: 100%;
  //width: calc(100% - 240px);
  transition: width 200ms;
}

.layout-header {
  height: 64px;
  border-bottom: 1px solid #efefef;
  text-align: right;
  box-shadow: #e8e8e8 2px 1px 3px;
  
  .btn {
    height: 64px;
    float: left;
    line-height: 64px;
    padding-left: 16px;
    font-size: 18px;
    
    &:hover {
      color: #1890ff;
    }
  }
  
  .dropdown-link {
    &:hover {
      color: #1890ff;
      cursor: pointer;
    }
    
    border: none;
    height: 100%;
    display: inline-block;
    padding: 0 15px 0 40px;
    line-height: 64px;
  }
}

.layout-main {
  @include scrollbar(rgba(0, 0, 0, 0.3));
  height: calc(100% - 114px);
  background: #F0F2F5;
  padding: 16px 16px 0;
  overflow: auto;
  
  > :first-child {
    min-height: 100%;
  }
}

.layout-footer {
  border-bottom: 1px solid #efefef;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: gray;
}

.layout-logo {
  height: 64px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
  p {
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #1890ff;
  }
  
}

.layout-left.dark {
  background-color: #002140;
  
  .layout-logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    p {
      color: white;
    }
  }
}


.layout-menu {
  @include scrollbar(rgba(255, 255, 255, 0.3));
  height: calc(100% - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  user-select:none;
}

.pageRouter {
  height: 50px;
  line-height: 50px;
  padding-left: 16px;
  border-bottom: 1px solid #efefef;
}